body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #E0E8FF;
    background-image: url(./Images/Backgorund_mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 87%;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
    background-color: #FFFFFF;
}

.avatar_image {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.header {
    font-size: 22px;
    font-weight: 900;
    line-height: 37.04px;
    text-align: center;
    height: 29px;
    margin: 32px 0 0;
    color: #1F2E55;
}

.paragraph {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    width: 81%;
    margin: 16px 0 0;
    color: #717FA6;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 81px;
    margin-top: 20px;
    border-radius: 11px;
    background-color: #F7F9FF;
}

.container2_item {
    display: flex;
    align-items: center;
    gap: 7%;
    width: 90%;
    height: 48px;
}

.icon-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: #DFE6FB;
}

.plan {
    font-size: 14px;
    font-weight: 900;
    line-height: 21.17px;
    margin: 0;
    color: #1F2E55;
    display: flex;
    align-content: center;
}

.price {
    font-size: 14px;
    font-weight: 500;
    line-height: 21.17px;
    margin: 0;
    color: #717FA6;
}

.change {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.52px;
    margin: 0 0 0 15%;
    color: #382AE1;
    cursor: pointer;
    transition: color 0.15s;
}

.change:hover {
    color: #766CF1;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 50px;
    font-size: 15px;
    font-weight: 900;
    line-height: 19.85px;
    color: #FFFFFF;
    border-radius: 11px;
    border: none;
    background-color: #382AE1;
    margin: 24px 0 0;
    box-shadow: 0px 20px 20px 0px #382AE131;
    cursor: pointer;
    transition: background-color 0.15s;
}

.button:hover {
    background-color: #766CF1;
}

.cancel {
    font-size: 15px;
    font-weight: 900;
    line-height: 19.85px;
    color: #717FA6;
    margin: 24px 0 32px;
    cursor: pointer;
    transition: color 0.15s;
}

.cancel:hover {
    color: #1F2E55;
}

@media (min-width:375px) {
    .container {
        width: 327px;
    }
}

@media (min-width:1440px) {
    body {
        background: url(./Images/Background_desk.png) no-repeat;
        background-color: #E0E8FF;
        background-size: contain;
    }

    .container {
        width: 450px;
    }

    .header {
        font-size: 28px;
        margin: 45px 0 0;
    }

    .paragraph {
        font-size: 16px;
        margin: 17px 0 0;
    }

    .container2 {
        width: 354px;
        height: 98px;
        margin: 20px 0 0;
    }

    .container2_item {
        position: relative;
        gap: 20px;
    }

    .plan {
        font-size: 16px;
    }

    .price {
        font-size: 16px;
    }
    
    .change {
        position: absolute;
        right: 0;
        font-size: 14px;
    }

    button {
        width: 354px;
        margin: 32px 0 0;
    }

    .cancel {
        margin: 32px 0 48px;
    }
}